@model IEnumerable<EvaluacionP1Olivo.Models.Carrera>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero_semestres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_carrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero_semestres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarreraNum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarreraNum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarreraNum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
